<!-- HTML의 기본 구조를 정의한 base.html을 상속 받기 -->
{% extends 'base.html' %}
<!-- 마크다운 함수 로드 -->
{% load pybo_filter %}

<!-- 기본 템플릿 안에 삽입도리 내용 Strat -->
{% block content %}
    <div class="container my-3">
        <!-- 사용자 오류 표시 -->
        {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{message.tags}}</strong>
            <ul><li>{{message.message}}</li></ul>
        {% endfor %}
        </div>
        {% endif %}
 
        <!-- Question -->
        <h2 class="border-bottom py-2">{{question.subject}}</h2>
        
        <div class="row my-3">
            <!-- 추천 영역 -->
            <div class="col-1">
                <div class="bg-ligth text-center p-3 border font-weight-boder mb-1">{{question.voter.count}}</div>
                <a href="#" data-uri="{% url 'pybo:vote_question' question.id %}"
                    class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
            </div>
            <!-- 질문 영역 -->
             <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <!-- 질문 내용 -->
                        <div class="card-text">
                            {{question.content|mark}}
                        </div>
        
                        <!-- 수정일자 & 질문 작성자명 & 생성일자 -->
                        <div class="d-flex justify-content-end">
                            <!-- 수정일자 -->
                            {% if question.modified_date %}
                            <div class="badge badge-light p-2 text-left mx-3">
                                <div class="mb-2">modified at</div>
                                <div>{{question.modified_date}}</div>
                            </div>
                            {% endif %}
                            <!-- 질문 작성자명 & 생성일자 -->
                            <div class="badge badge-light p-2 text-left">
                                <div class="mb-2">{{question.author.username}}</div>
                                <div>{{question.create_date}}</div>
                            </div>
                        </div>
                        <!-- 질문 수정 & 삭제 버튼 -->
                        {% if request.user == question.author %}
                        <div class="my-3">
                            <a href="{% url 'pybo:question_modify' question.id %}" 
                                class="btn btn-sm btn-outline-secondary">수정</a>
                            <!-- data-uri 사용 통해, 삭제 확인 팝업을 띄우고 페이지를 이동하기 위함 -->
                            <a href="#" class="delete btn btn-sm btn-outline-secondary" 
                                data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a>
                        </div>
                        {% endif %}
        
                        <!-- 질문 댓글 -->
                        {% if question.comment_set.count > 0 %}
                        <div class="mt-3">
                        {% for comment in question.comment_set.all %}
                            <a name="comment_{{comment.id}}"></a> <!-- 스크롤 위치 -->
                            <div class="comment py-2 text-muted">
                                <!-- 질문댓글 내용 -->
                                <span style="white-space: pre-line;">{{ comment.content }}</span>
                                <!-- 질문댓글 정보 -->
                                <span>
                                    - {{comment.author}}, {{comment.create_date}}
                                    {% if comment.modified_date %}
                                    (수정:{{comment.modified_date}})
                                    {% endif %}
                                </span>
                                <!-- 질문댓글 수정 & 삭제 버튼 -->
                                {% if request.user == comment.author %}
                                <a href="{% url 'pybo:comment_modify_question' comment.id %}" class="small">수정</a>
                                <a href="#" class="small delete"
                                    data-uri="{% url 'pybo:comment_delete_question' comment.id %}">삭제</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
        
                        <!-- 질문댓글 추가 기능 -->
                        <div class="mt-3">
                            <a href="{% url 'pybo:comment_create_question' question.id %}" class="small text-primary"><small>댓글 추가 ..</small></a>
                        </div>
        
                    </div>
                </div>
             </div>
        </div>


        <!-- Answer List -->
        <h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
        {% for answer in question.answer_set.all %}
        <a name="answer_{{answer.id}}"></a> <!-- 스크롤 위치/ name은 유일해야 하므로, answer.id사용 -->
        <div class="row my-3">
            <!-- 추천 영역 -->
            <div class="col-1">
                <div class="badge-light text-center p-3 border font-weight-boder mb-1">
                    {{answer.voter.count}}
                </div>
                <a href="#" data-uri="{% url 'pybo:vote_answer' answer.id %}"
                    class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
            </div>

            <!-- 답변 영역 -->
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <!-- 답변 내용 -->
                        <div class="card-text" style="white-space: pre-line;">
                            {{answer.content|mark}}
                        </div>
                        <!-- 답변 수정일자 & 작성자명 & 작성일 -->
                        <div class="d-flex justify-content-end">
                            <!-- 수정일자 -->
                            {% if answer.modified_date %}
                            <div class="badge badge-light p-2 text-left mx-3">
                                <div class="mb-2">modified at</div>
                                <div>{{answer.modified_date}}</div>
                            </div>
                            {% endif %}
                            <!-- 질문 작성자명 & 생성일자 -->
                            <div class="badge badge-light p-2 text-left">
                                <div class="mb-2">{{answer.author.username}}</div>
                                <div>{{answer.create_date}}</div>
                            </div>
                        </div>
                        <!-- 답변 수정 & 삭제 버튼 -->
                        {% if request.user == answer.author %}
                        <div class="my-3">
                            <a href="{% url 'pybo:answer_modify' answer.id %}" 
                                class="btn btn-sm btn-outline-secondary">수정</a>
                            <!-- data-uri 사용 통해, 삭제 확인 팝업을 띄우고 페이지를 이동하기 위함 -->
                            <a href="#" class="delete btn btn-sm btn-outline-secondary" 
                                data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                        </div>
                        {% endif %}
    
                        <!-- 답변 댓글 -->
                        {% if answer.comment_set.count > 0 %}
                        <div class="mt-3">
                        {% for comment in answer.comment_set.all %} 
                            <a name="comment_{{comment.id}}"></a><!-- 스크롤 위치 -->
                            <div class="comment py-2 text-muted">
                                <!-- 답변댓글 내용 -->
                                <span style="white-space: pre-line;">{{ comment.content }}</span>
                                <!-- 답변댓글 정보 -->
                                <span>
                                    - {{comment.author}}, {{comment.create_date}}
                                    {% if comment.modified_date %}
                                    (수정:{{comment.modified_date}})
                                    {% endif %}
                                </span>
                                <!-- 답변댓글 수정 & 삭제 버튼 -->
                                {% if request.user == comment.author %}
                                <a href="{% url 'pybo:comment_modify_answer' comment.id %}" class="small">수정</a>
                                <a href="#" class="small delete"
                                    data-uri="{% url 'pybo:comment_delete_answer' comment.id %}">삭제</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    
                        <!-- 답변댓글 추가 기능 -->
                        <div class="mt-3">
                            <a href="{% url 'pybo:comment_create_answer' answer.id %}" class="small text-primary"><small>댓글 추가 ..</small></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

        <!-- Answer 등록 -->
        <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
            {% csrf_token %}

            <!-- forms.is_valid()가 실패했을 경우 오류 표시 -->
            <!-- 오류 표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{field.label}}</strong>
                {{field.errors}}
                {% endif %}
            {% endfor%}
            </div>
            {% endif %}
            <!-- 오류 표시 End -->
             
            <div class="form-group">
                <!-- 로그인 상태에서만 입력 가능하게 조건 부여 -->
                <textarea name="content" id="content" 
                    {% if not user.is_authenticated %} disabled {% endif %}
                    class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="답변 등록" class="btn btn-primary">
        </form>
    </div>
{% endblock%}
<!-- 기본 템플릿 안에 삽입도리 내용 End -->



<!-- 자바 스크립트 Start -->
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".delete").on('click', function(){ // 태그 중 delete 클래스 포함하는 경우
            if(confirm("정말로 삭제하시겠습니까?")){ //확인 누르면 
                location.href = $(this).data('uri');//data-uri로 이동하는 기능
            }
        });

        $(".recommend").on('click',function(){ // 태그 중 recommend 클래스 포함하는 경우 
            if(confirm("정말로 추천하시겠습니까?")){ //확인 누르면 
                location.href = $(this).data('uri');//data-uri로 이동하는 기능
            }
        });
    });
</script>
{% endblock%}
<!-- 자바 스크립트 End -->  